*{
    margin: 0;
    padding: 0;

}
.footer {
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background-color: rgb(56, 56, 56);
    color: rgb(243, 240, 240);
    display: flex;
}
.footer div {
    text-align: center;
    padding: 60px;
    
}
.footer1 a {
    text-decoration: none;
    display: block;
    color: azure;
    line-height:20px;   
}
.footer3 {
    padding: 20px;
}
.footer2 {
    display: block;
}
.sub {
    border-radius:10px;
    padding: 8px;
    background-color: rgb(56, 56, 56);
    border: 1 solid white;
}
.sub a {
    text-decoration: none;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
}
